<nav>
  <ul class="pagination">
    <!-- can use custom directives to toggle stuff like below -->
    <li class="page-item" [appClass]="{ disabled: currentPage === 0 }">
      <a class="page-link" (click)="currentPage = currentPage - 1">Previous</a>
    </li>
    <!-- special tag that doesn't actually return an element (like React.Fragment) -->
    <ng-container *appTimes="images.length; let i = index">
      <!-- use ngClass to conditionally apply a css class -->
      <!-- can also pass a plain string and it will immediately get added to the
    class attribute. methods are also valid -->
      <li
        class="page-item"
        [appClass]="{ active: i === currentPage }"
        *ngIf="checkWindowIndex(i)"
      >
        <!-- on click, set the currentpage to whatever i is -->
        <a class="page-link" (click)="currentPage = i">{{ i + 1 }}</a>
      </li>
    </ng-container>
    <li
      class="page-item"
      [appClass]="{ disabled: currentPage === images.length - 1 }"
    >
      <a class="page-link" (click)="currentPage = currentPage + 1">Next</a>
    </li>
  </ul>
</nav>
<!-- <div>
  <h4>{{ images[currentPage].title }}</h4>
  <img [src]="images[currentPage].url" />
</div> -->

<ul *appTimes="5">
  <li>Hi There.</li>
</ul>
