<!-- dont use href, use routerLink instead -->
<div class="ui container">
  <div class="ui secondary pointing menu">
    <!-- routerLinkActive applies a class when the specific link is being visited -->
    <a routerLink="/elements" class="item" routerLinkActive="active"
      >Elements</a
    >
    <a routerLink="/collections" class="item" routerLinkActive="active"
      >Collections</a
    >
  </div>
  <div class="ui segment">
    <!-- route content gets displayed in the router outlet tag -->
    <router-outlet></router-outlet>
  </div>
</div>
