<h3>Create an Account</h3>
<form class="ui form" [formGroup]="authForm">
  <div class="field">
    <label>Username</label><input formControlName="username" />
  </div>
  <app-input />
  <div class="field">
    <label>Password</label><input formControlName="password" />
  </div>
  <app-input />
  <div class="field">
    <label>Password Confirmation</label
    ><input formControlName="passwordConfirmation" />
  </div>
  <app-input />
  <button class="ui submit button primary">Submit</button>
</form>
<hr />
{{ authForm.value | json }}
{{ authForm.errors | json }}
<hr />
{{ authForm.get("username")?.errors | json }}
{{ authForm.get("password")?.errors | json }}
{{ authForm.get("passwordConfirmation")?.errors | json }}
