<h3>Create an Account</h3>
<form (ngSubmit)="onSubmit()" class="ui form" [formGroup]="authForm">
  <app-input
    inputType="text"
    label="Username"
    [control]="authForm.get('username')"
  />
  <app-input
    inputType="password"
    label="Password"
    [control]="authForm.get('password')"
  />
  <app-input
    inputType="password"
    label="Password Confirmation"
    [control]="authForm.controls.passwordConfirmation"
  />

  <div
    class="ui red basic label"
    *ngIf="
      authForm.controls.password.touched &&
      authForm.controls.passwordConfirmation.touched &&
      authForm.errors
    "
  >
    <p *ngIf="authForm.errors.passwordsDoNotMatch">Passwords must match</p>
  </div>

  <div>
    <button class="ui submit button primary">Submit</button>
  </div>
</form>
<!-- <hr />
{{ authForm.value | json }}
{{ authForm.errors | json }}
<hr /> -->
