<!-- name of the html tag is determined in the component class -->
<app-card></app-card>
<app-card></app-card>
<app-card></app-card>

<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <!-- use the assets folder to make things available to the app -->
      <img src="assets/tree.jpeg" />
    </figure>
  </div>
  <div class="card-content">
    <div class="media-content">
      <p class="title is-4">Neat Tree</p>
      <p class="subtitle is-6">&#64;nature</p>
    </div>
    <div class="content">Saw this awesome tree during my hike today</div>
  </div>
</div>
