<app-divider>Table Component</app-divider>
<app-table
  [data]="tableData"
  [headers]="tableHeaders"
  classNames="striped celled"
></app-table>
<app-divider>Tab Menu</app-divider>
<app-tabs>
  <!-- routes provided thru routerlink are relative to their location as in unix/linux -->
  <!-- empty string gets processed as '/', so the root route -->
  <!-- can also use prop binding to build out links, helps building arbitrary paths -->
  <!-- can require exact matching of a path in routerLinkActiveOptions -->
  <a
    class="item"
    [routerLink]="['./']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Biography</a
  >
  <a class="item" routerLink="./companies" routerLinkActive="active"
    >Companies</a
  >
  <a class="item" routerLink="./partners" routerLinkActive="active">Partners</a>
</app-tabs>
