<form [formGroup]="cardForm">
  <input formControlName="name" />
  <!-- Yuck! -->
  <ng-container
    *ngIf="cardForm.controls.name.errors && cardForm.controls.name.touched"
  >
    <div *ngIf="cardForm.controls.name.errors['required']">
      Value is required
    </div>
    <div *ngIf="cardForm.controls.name.errors['minlength']">
      Value must be longer than
      {{ cardForm.controls.name.errors["minlength"].requiredLength }} characters
    </div>
  </ng-container>
</form>
<button [disabled]="!cardForm.valid">Submit</button>
<pre>{{ cardForm.value | json }}</pre>
<pre>Valid: {{ cardForm.valid }}</pre>
<div>Errors around name: {{ cardForm.controls.name.errors | json }}</div>
<div>
  Errors around cardnumber: {{ cardForm.get("cardNumber")?.errors | json }}
</div>
