<!-- Template Form example -->
<!-- 
  Unlike reactive forms the template is what drives form groups and form
  controls. Groups and controls are created automatically, which makes upfront
  development easier but you sacrifice the control you have with reactive forms.
 -->
<!-- Syntax to get a reference to the FormGroup -->
<form (ngSubmit)="handleSubmit()" #emailForm="ngForm">
  <!-- Two-way binding actually. Basically, prop binding and event binding in one -->
  <!-- Any time you change the state from the form it will update, and it will
  also update any time you change it in the class, and that change will reflect
  in the template -->
  <!-- For validation in template forms, use the MDN HTML Spec for reference -->
  <input
    type="email"
    pattern=".+@.+\..+"
    required
    name="email"
    [(ngModel)]="email"
    #emailControl="ngModel"
  />
  <!-- <ng-container *ngIf="emailForm.controls['email'].invalid"></ng-container> -->
  <ng-container *ngIf="emailControl.invalid && emailControl.touched">
    <div *ngIf="emailControl.errors!['required']">You must enter an email</div>
    <div *ngIf="emailControl.errors!['pattern']">
      Please enter a valid email
    </div>
  </ng-container>
  <button [disabled]="emailForm.invalid">Submit</button>
</form>
<div>
  <pre>
  {{ emailForm.valid }}
  {{ emailForm.value | json }}
  <!-- Race condition here -->
  {{ emailForm.controls["email"].errors | json }}
  </pre>
</div>
<router-outlet />
