<div class="field">
  <label class="label">{{ label }}</label>
  <div class="control">
    <!-- [formControl] binds the input element in the dom to its respective FormControl -->
    <input
      class="input"
      [ngClass]="{
        'is-danger': showErrors()
      }"
      [formControl]="control"
    />
  </div>
  <!-- Yuck! -->
  <ng-container *ngIf="showErrors()">
    <div
      [ngClass]="{ 'help is-danger': showErrors() }"
      *ngIf="control.errors!['required']"
    >
      Value is required
    </div>
    <div
      [ngClass]="{ 'help is-danger': showErrors() }"
      *ngIf="control.errors!['minlength']"
    >
      Value must be longer than
      {{ control.errors!["minlength"].requiredLength }} characters
    </div>
    <div
      [ngClass]="{ 'help is-danger': showErrors() }"
      *ngIf="control.errors!['maxlength']"
    >
      Value must be shorter than
      {{ control.errors!["maxlength"].requiredLength }} characters
    </div>
    <div
      [ngClass]="{ 'help is-danger': showErrors() }"
      *ngIf="control.errors!['pattern']"
    >
      Invalid format
    </div>
  </ng-container>
</div>
