<div class="ui grid stackable">
  <div class="five wide column"><app-email-index /></div>
  <div class="eleven wide column"><router-outlet /></div>
</div>
<app-modal>
  <h3 modalTitle>Compose</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus,
    voluptate deserunt soluta explicabo est vitae! Non vitae magni itaque
    consequatur veritatis voluptatum cum, ex omnis nostrum sint ipsum at
    exercitationem.
  </p>
  <div modalFooter>
    <button class="ui primary button">Custom Button</button>
  </div>
</app-modal>
