<!-- HTML Markup and Styling go here -->
<!-- I guess the CSS file can be used for CSS jank and I can just specify
Tailwind styles in here -->

<h1>Password Generator</h1>

<div>
  <label>Enter Length</label>
  <input type="number" />
</div>

<div>
  <label for="">Use Letters</label>
  <input type="checkbox" />
</div>
<div>
  <label for="">Use Numbers</label>
  <input type="checkbox" />
</div>
<div>
  <label for="">Use Symbols</label>
  <input type="checkbox" />
</div>

<div>
  <!-- Define an event to listen for and an event handler in the associated
  component, aka handler binding syntax -->
  <button (click)="onButtonClick()">Generate</button>
</div>

<div>
  <label>Your password</label>
  <!-- Property binding syntax -->
  <!-- Can display state this way -->
  <!-- Can also call methods -->
  <!-- Alternate syntax -->
  <input [value]="password" />
  <input [value]="getPassword()" />
  <input value="{{ password }}" />
</div>
