<!-- HTML Markup and Styling go here -->

<h1>Password Generator</h1>

<div>
  <label for="length">Enter Length</label>
  <input type="number" name="length" id="length" />
</div>

<div>
  <label for="">Use Letters</label>
  <input type="checkbox" name="" id="" />
</div>
<div>
  <label for="">Use Numbers</label>
  <input type="checkbox" name="" id="" />
</div>
<div>
  <label for="">Use Symbols</label>
  <input type="checkbox" name="" id="" />
</div>

<div>
  <button>Generate</button>
</div>

<div><label for="">Your password</label><input /></div>
