<!-- HTML Markup and Styling go here -->
<!-- I guess the CSS file can be used for CSS jank and I can just specify
Tailwind styles in here -->

<h1>Password Generator</h1>

<div>
  <label>Enter Length</label>
  <!-- In angular you get access to the browser event object via the $ sign
  (Does accessing browser objects via $ apply to everything?) -->
  <input type="number" (input)="changeLength($event.target)" />
</div>

<div>
  <label>Use Letters</label>
  <input type="checkbox" (change)="toggleOption('letters')" />
</div>
<div>
  <label for="">Use Numbers</label>
  <input type="checkbox" (change)="toggleOption('numbers')" />
</div>
<div>
  <label for="">Use Symbols</label>
  <input type="checkbox" (change)="toggleOption('symbols')" />
</div>

<div>
  <!-- Define an event to listen for and an event handler in the associated
  component, aka handler binding syntax -->
  <button (click)="onButtonClick()">Generate</button>
</div>

<div>
  <label>Your password</label>
  <!-- Property binding syntax -->
  <!-- Can display state this way -->
  <input [value]="password" />
</div>
