<!-- Use ng create component [name] to scaffold a component -->
<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <!-- use the assets folder to make things available to the app -->
      <!-- specifying image source is done via prop binding -->
      <!-- <img [src]="imageURL" /> -->
      <img [src]="imageURL" />
    </figure>
  </div>
  <div class="card-content">
    <div class="media-content">
      <p class="title is-4">{{ title }}</p>
      <p class="subtitle is-6">&#64;{{ username }}</p>
    </div>
    <div class="content">{{ content }}</div>
  </div>
</div>
